################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/RobotVacuumCleaner/.vs/RobotVacuumCleaner
/Map_system/.vs/Map_system
/Map_system/x64/Debug
/Map_system/Map_system/x64/Debug/Map_system.tlog
/Map_system/Map_system/x64/Debug
