################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/RobotVacuumCleaner/.vs/RobotVacuumCleaner
/RobotVacuumCleaner/RobotVacuumCleaner/Debug
/RobotVacuumCleaner
