################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/RobotVacuumCleaner/.vs/RobotVacuumCleaner
/RobotVacuumCleaner/x64/Debug
/RobotVacuumCleaner/RobotVacuumCleaner/x64/Debug
/RobotVacuumCleaner/RobotVacuumCleaner/.vs/RobotVacuumCleaner/FileContentIndex
/RobotVacuumCleaner/RobotVacuumCleaner/.vs/RobotVacuumCleaner/v17/ipch/AutoPCH/74651ed427f967c6
/RobotVacuumCleaner/RobotVacuumCleaner/.vs/RobotVacuumCleaner/v17/ipch/AutoPCH/c74e050b1a6effb8/SENSOR.ipch
